{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid mb-3">
  
  <!-- Hero Image -->
  <div class="row d-md-none d-lg-none d-xl-none">
    <div class="col-12 g-0">
      <img class="img-fluid" src="{% static 'images/tent-book-sm.webp' %}"
        alt="A coffe cup, camera, and book on the floor of a tent.">
    </div>
  </div>
  <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
    <div class="col-12 g-0">
      <img class="img-fluid w-100" src="{% static 'images/wide-tent-lake.webp' %}"
        alt="A tent and chair in front of a lake.">
    </div>
  </div>

  <!-- Signup Section -->
  <div class="row mt-3">
    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <h1 class="sedan-regular">{% trans "Sign Up" %}</h1>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-danger btn-lg sedan-regular" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
