{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content -->
<div class="container-fluid mb-5">

    <!-- Hero Image -->
    <div class="row d-md-none d-lg-none d-xl-none">
        <div class="col-12 g-0">
            <img class="img-fluid" src="{% static 'images/lake-chair-tent.webp' %}" alt="A tent and chair by the side of a lake.">
        </div>
    </div>
    <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
        <div class="col-12 g-0">
            <img class="img-fluid w-100" src="{% static 'images/wide-tent-lake.webp' %}" alt="A tent and chair in front of a lake.">
        </div>
    </div>

    <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
                                    fade show mt-3" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Book Now button -->
    <div class="row">
        <div class="col-6 offset-3 mt-2 py-3 px-2 text-center">
            <a href="{% url 'booking' %}" type="button" class="btn btn-danger btn-lg sedan-regular">Book Now!</a>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3">
            <h2 class="sedan-regular">Welcome to Lakeview Campsite!</h2>
            <p>Your perfect retreat is waiting nestled between the serene shores of Crystal Lake and the lush greenery of Whispering Pines Forest. Whether you arrive with a tent, van, or caravan, our campsite offers a peaceful and picturesque setting for every type of camper. 
                <br><br>Immerse yourself in nature's beauty with a morning paddle on the calm waters, an afternoon hike through shaded trails, or simply relax by your campfire under a canopy of stars. Our amenities are designed to make your stay comfortable and enjoyable, with modern facilities, spacious pitches, and friendly staff ready to assist.
                <br><br>Escape the hustle and bustle, reconnect with nature, and create unforgettable memories at Lakeview Campsite. Your adventure awaits!</p>
        </div>
    </div>

    <div class="row text-center mt-2">
        <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <img class="img-fluid" src="{% static 'images/drone-view.webp' %}"
                alt="A view of a lake and its shore with mountains in the background.">
        </div>
    </div>

    <!-- About Page Link button -->
    <div class="row mb-4">
        <div class="col-6 offset-3 py-3 px-2 text-center">
            <a href="{% url 'about' %}" type="button" class="btn btn-success btn-lg sedan-regular">Learn More</a>
        </div>
    </div>

    <!-- Testimonials Section -->
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center">
            <h3 class="sedan-regular">Testimonials</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center">
            <p>
                "Lakeview Campsite was the perfect escape for our family! The kids loved the water activities and we enjoyed the scenic hiking trails. We'll definitely be back!"
            </p>
            <p>
                - James C.
            </p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center">
            <p>
                "Camping at Lakeview was a fantastic experience. The facilities were clean, the staff helped us pitch our tent, and the BBQ area was perfect for our evening meals."
            </p>
            <p>
                - Daniel W.
            </p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center">
            <p>
                "The weekend getaway package was such a great deal. We loved the yurt, the bike rentals, and the firewood bundle was perfect for our campfire nights."
            </p>
            <p>
                - Emily B.
            </p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
    </div>
</div>



{% endblock content %}