{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content -->
<div class="container-fluid mb-3">
    <div class="row d-lg-none d-xl-none">
        <div class="col-12 g-0">
            <img class="img-fluid" src="{% static 'images/lake-chair-tent.webp' %}" alt="A tent and chair by the side of a lake.">
        </div>
    </div>
    <div class="row d-none d-lg-block d-xl-block d-xxl-block">
        <div class="col-12 g-0">
            <img class="img-fluid w-100" src="{% static 'images/wide-tent-lake.webp' %}" alt="A tent and chair in front of a lake.">
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3 py-3 px-2 text-center">
            <a href="{% url 'booking' %}" type="button" class="btn btn-danger btn-lg sedan-regular">Book Now!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
            <p>Welcome to Lakeview Campsite, your perfect retreat nestled between the serene shores of Crystal Lake and the lush greenery of Whispering Pines Forest. Whether you arrive with a tent, van, caravan, or RV, our campsite offers a peaceful and picturesque setting for every type of camper. 
                <br><br>Immerse yourself in nature's beauty with a morning paddle on the calm waters, an afternoon hike through shaded trails, or simply relax by your campfire under a canopy of stars. Our amenities are designed to make your stay comfortable and enjoyable, with modern facilities, spacious pitches, and friendly staff ready to assist.
                <br><br>Escape the hustle and bustle, reconnect with nature, and create unforgettable memories at Lakeview Campsite. Your adventure awaits!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4">
            <img class="img-fluid" src="{% static 'images/tent-book-sm.webp' %}" alt="A coffe cup, camera, and book on the floor of a tent.">
        </div>
    </div>
</div>

{% endblock content %}