{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-lg mb-3">
    <div class="row">
        <div class="col-12  g-0">
            <img class="img-fluid" src="{% static 'images/lake-chair-tent.webp' %}" alt="A tent and chair by the side of a lake.">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4p-2">
            <h1 class="sedan-regular">{% if id %} Edit {% else %} Book {% endif %} Your Stay</h1>
        </div>
        <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4p-2">
            {% if user.is_authenticated %}
            <p>You are logged in as: {{ user }}</p>
            {% else %}
            <p>Please <a href="{% url 'account_signup' %}?next={{request.path}}">sign up</a> or <a href="{% url 'account_login' %}?next={{request.path}}">log in</a> to make a booking.</p>
            {% endif %}
        </div>
        <form id="bookingForm" method="post">
            {{ booking_form | crispy }}
            {% csrf_token %}
            {% if user.is_authenticated %}
                <button id="submitButton" type="submit" class="btn btn-danger btn-lg sedan-regular">{% if id %} Update {% else %} Submit {% endif %}</button>
            {% else %}
                <button id="submitButton" type="submit" class="btn btn-signup sedan-regular btn-lg" disabled>Submit</button>
            {% endif %}
        </form>
    </div>
</div>

<script src="{% static 'js/booking.js' %}"></script>
{% endblock content %}