{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-lg mb-3">
    <div class="row">
        <div class="col-12 g-0">
            <img class="img-fluid" src="{% static 'images/lake-chair-tent.webp' %}" alt="A tent and chair by the side of a lake.">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4p-2">
            <h1 class="sedan-regular">My Bookings</h1>
        </div>
        <!-- Booking List Column -->
        {% for booking in booking_list %}
            {% if booking.booked_by == request.user and not booking.is_in_past %}
                <div class="col-12">
                    <div class="card mt-1 mb-1 text-center">
                        <h5 class='sedan-regular m-1'>{{ booking.string_from_tuple }} Booking</h5>
                        <p class="m-1">{{ booking.arrival }} </p>
                        <p>
                            <a data-bs-toggle="collapse" href="#collapse{{ booking.booking_id }}" role="button" aria-expanded="false" aria-controls="collapse{{ booking.booking_id }}">
                              More Details
                            </a>
                        </p>
                        <div class="collapse" id="collapse{{ booking.booking_id }}">
                            <div class="card card-body">
                                <p class="m-1">Arrival: {{ booking.arrival }} </p>
                                <p class="m-1">Departure: {{ booking.departure }} </p>
                                <p class="m-1">Adults: {{ booking.adults }} </p>
                                {% if booking.children %}
                                    <p class="m-1">Children: {{ booking.children }} </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% for booking in booking_list %}
        {% if booking.booked_by == request.user and booking.is_in_past %}
            <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4p-2">
                <h1 class="sedan-regular mt-3 mb-1">Past Bookings</h1>
            </div>
        {% endif %}
        {% endfor %}
        <!-- Past Bookings List -->
        {% for booking in booking_list %}
            {% if booking.booked_by == request.user and booking.is_in_past %}
                <div class="col-12">
                    <div class="card mt-1 mb-1 text-center bg-secondary-subtle">
                        <h5 class='sedan-regular m-1'>{{ booking.string_from_tuple }} Booking</h5>
                        <p class="m-1">{{ booking.arrival }} </p>
                        <p>
                            <a data-bs-toggle="collapse" href="#collapse{{ booking.booking_id }}" role="button" aria-expanded="false" aria-controls="collapse{{ booking.booking_id }}">
                              More Details
                            </a>
                        </p>
                        <div class="collapse" id="collapse{{ booking.booking_id }}">
                            <div class="card card-body">
                                <p class="m-1">Arrival: {{ booking.arrival }} </p>
                                <p class="m-1">Departure: {{ booking.departure }} </p>
                                <p class="m-1">Adults: {{ booking.adults }} </p>
                                {% if booking.children %}
                                    <p class="m-1">Children: {{ booking.children }} </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
    </div>
</div>

{% endblock content %}