{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mb-3">

    <!-- Hero Image -->
    <div class="row d-md-none d-lg-none d-xl-none">
        <div class="col-12 g-0">
            <img class="img-fluid" src="{% static 'images/lake-chair-tent.webp' %}"
                alt="A tent and chair by the side of a lake.">
        </div>
    </div>
    <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
        <div class="col-12 g-0">
            <img class="img-fluid w-100" src="{% static 'images/wide-tent-lake.webp' %}"
                alt="A tent and chair in front of a lake.">
        </div>
    </div>

    <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show mt-3" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- User Bookings Section -->
    <div class="row mt-3">
        <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <h1 class="sedan-regular">My Bookings</h1>
        </div>
        <!-- Upcoming Bookings List -->
        {% for booking in booking_list %}
        {% if not booking.is_in_past %}
        <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card mt-1 mb-1 text-center">
                <h2 class='fs-5 sedan-regular m-1'>{{ booking.string_from_tuple }} Booking</h2>
                <p class="m-1">{{ booking.arrival }} </p>
                <p>
                    <a data-bs-toggle="collapse" href="#collapse{{ booking.booking_id }}" role="button"
                        aria-expanded="false" aria-controls="collapse{{ booking.booking_id }}"
                        class="details">
                        More Details
                    </a>
                </p>
                <div class="collapse" id="collapse{{ booking.booking_id }}">
                    <div class="card card-body">
                        <p class="m-1">Arrival: {{ booking.arrival }} </p>
                        <p class="m-1">Departure: {{ booking.departure }} </p>
                        <p class="m-1">Adults: {{ booking.adults }} </p>
                        {% if booking.children %}
                        <p class="m-1">Children: {{ booking.children }} </p>
                        {% endif %}
                        {% if not booking.is_within_48h %}
                        <div class="row mt-2">
                            <div class="col-6">
                                <a class="btn btn-outline-dark" href="{% url 'booking_edit' booking.id %}">
                                    Edit
                                </a>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-danger btn-delete" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" data-booking_id="{{ booking.id }}">
                                    Delete
                                </button>
                            </div>
                        </div>
                        {% else %}
                        <!-- Button trigger modal -->
                        <!-- Code adapted from Bootstrap Documentation -->
                        <div class="row mt-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                    data-bs-target="#within48hModal">
                                    Edit
                                </button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#within48hModal">
                                    Delete
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <p>You have no upcoming bookings.</p>
        </div>
        {% endfor %}

        <!-- Past Bookings List -->
        <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <h1 class="sedan-regular mt-3 mb-1">Past Bookings</h1>
        </div>
        {% for booking in booking_list %}
        {% if booking.is_in_past %}
        <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card mt-1 mb-1 text-center bg-secondary-subtle">
                <h2 class='fs-5 sedan-regular m-1'>{{ booking.string_from_tuple }} Booking</h2>
                <p class="m-1">{{ booking.arrival }} </p>
                <p>
                    <a data-bs-toggle="collapse" href="#collapse{{ booking.booking_id }}" role="button"
                        aria-expanded="false" aria-controls="collapse{{ booking.booking_id }}"
                        class="details">
                        More Details
                    </a>
                </p>
                <div class="collapse" id="collapse{{ booking.booking_id }}">
                    <div class="card card-body bg-secondary-subtle">
                        <p class="m-1">Arrived: {{ booking.arrival }} </p>
                        <p class="m-1">Departed: {{ booking.departure }} </p>
                        <p class="m-1">Adults: {{ booking.adults }} </p>
                        {% if booking.children %}
                        <p class="m-1">Children: {{ booking.children }} </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <p>You have no past bookings.</p>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modals -->
<!-- Amending a booking within 48 hours (Code taken from Bootstrap Documentation)  -->
<div class="modal fade" id="within48hModal" tabindex="-1" aria-labelledby="within48hModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="within48hModalLabel">It is not possible to amend your booking.
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Your arrival date in within the next 48 hours. Please contact us directly to discuss your booking.
                </p>
                <p>Phone: <a href="tel:555-1234567"
                        aria-label="Call us (opens your phone app or program and auto-fills our phone number)">(555)
                        123-4567</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Understood</button>
            </div>
        </div>
    </div>
</div>
<!-- Confirming User Delete Action -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="deleteModalLabel">Delete booking?</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete your booking?
                    This action cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Javascript Link -->
<script src="{% static 'js/user_bookings.js' %}"></script>
{% endblock content %}