@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

.bg-green-1 {
    background-color: #6cc678;
}

.bg-green-2 {
    background-color: #2a9134;
}

.bg-green-3 {
    background-color: #137547;
}

.bg-green-4 {
    background-color: #054A29;
}

.text-custom-white {
    color: #D4EDDA;
}

.text-white {
    color: white;
}

.social-link {
    text-decoration: none;
}