@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

.bg-green-4 {
    background-color: #054A29;
}

.text-custom-white {
    color: #D4EDDA;
}