{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content -->
<div class="container-fluid mb-3">
    <div class="row d-lg-none d-xl-none">
        <div class="col-12 g-0">
            <img class="img-fluid" src="{% static 'images/lost-man.webp' %}" alt="A man looking lost in a forest.">
        </div>
    </div>
    <div class="row d-none d-lg-block d-xl-block d-xxl-block">
        <div class="col-12 g-0">
            <img class="img-fluid w-100" src="{% static 'images/wide-lost-man.webp' %}" alt="A man looking lost in a forest.">
        </div>
    </div>
    <div class="row m-2">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 mt-2 text-center">
            <h1 class="sedan-regular">Something went wrong!</h1>
            <p>This is embarrassing... We're not sure why but something went wrong.</p>
            <p>Please click the button below to go back to the homepage.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 mb-3 text-center">
            <a href="{% url 'home' %}" class="btn btn-success btn-lg sedan-regular">Home</a>
        </div>
    </div>
</div>

{% endblock content %}