{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content -->
<div class="container-fluid mb-3">

    <div class="row d-md-none d-lg-none d-xl-none">
        <div class="col-12 g-0">
            <img class="img-fluid w-100" src="{% static 'images/chair-table.webp' %}"
                alt="A camp chair and small table by the edge of a lake.">
        </div>
    </div>

    <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
        <div class="col-12 g-0">
            <img class="img-fluid w-100" src="{% static 'images/wide-tent-lake.webp' %}"
                alt="A tent and chair in front of a lake.">
        </div>
    </div>

    <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
                                    fade show mt-3" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h1 class="sedan-regular">About</h1>
        </div>
    </div>

    <!-- Welcome Section -->
    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <p id='about-welcome'>
                Welcome to Lakeview Campsite, your perfect getaway nestled in the heart of nature! Situated on the
                eastern shores of Crystal Lake in Evergreen Valley, our campsite spans over 40 acres of picturesque
                landscape and forest providing ample space for relaxation and adventure. Whether you're a
                seasoned camper or new to the outdoor experience, we offer a diverse range of accommodations and
                activities to ensure your stay is both comfortable and memorable.
            </p>
        </div>
    </div>

    <div class="row text-center mt-2 mb-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <img class="img-fluid" src="{% static 'images/drone-view.webp' %}"
                alt="A view of a lake and its shore with mountains in the background.">
        </div>
    </div>

    <!-- Location Section -->
    <div class="row mt-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h2 class="sedan-regular">Our Location</h2>
            <p id="about-accom">
                Lakeview Campsite is ideally located just a short 8 mile drive from the charming town of Greenfield, making it
                easily accessible while still offering a peaceful retreat away from the hustle and bustle. 
                <br>
                <h4 class="sedan-regular">Directions</h4>
                <ul class="custom-mb-1">
                    <li>
                        <strong>From Greenfield:</strong> Take Highway 45 north for 4 miles, then turn left onto
                        Lakeview Road. Follow Lakeview Road for 3 miles until you reach the campsite entrance on the
                        left.
                    </li>
                    <li>
                        <strong>From Interstate 80:</strong> Exit at Greenfield Junction (Exit 122) and follow signs to Highway 45. Turn
                        north on Highway 45 and follow the directions above.
                    </li>
                    <li>
                        <strong>Public Transport:</strong> The nearest bus station is in Greenfield. The 32X bus runs every hour on the half hour
                        from the station and makes a stop just a 2 minute walk from the campsite entrance. You can also take a taxi or rideshare 
                        service directly to the campsite.
                    </li>
                </ul>

            </p>
        </div>
    </div>

    <!-- Book Now Button -->
    <div class="row">
        <div class="col-6 offset-3 py-3 px-2 text-center">
            <a href="{% url 'booking' %}" class="btn btn-danger btn-lg sedan-regular">Book Now!</a>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <hr>
        </div>
    </div>


    <!-- Accomodation Section -->
    <div class="row mt-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h2 class="sedan-regular">Our Accommodation</h2>
            <p id="about-accom">
                At Lakeview Campsite, we cater to all types of campers. Bring your own tent, van, or caravan and set up
                in one of our spacious, scenic plots. If you prefer a more unique experience, stay in one of our cozy
                yurts equipped with comfortable bedding and rustic charm.
            </p>
        </div>
    </div>

    <div class="row">
        <div id="carouselExample" class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/tent-sq.webp' %}" class="d-block w-100" alt="A red tent pitched on grass with a lake in the background.">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/van-sq.webp' %}" class="d-block w-100" alt="A white camping van with a beige tent parked at the edge of a lake.">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/caravan-sq.webp' %}" class="d-block w-100" alt="A caravan parked next to a tree.">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/yurt-sq.webp' %}" class="d-block w-100" alt="A yurt pitched in a forest with lighting and bunting overhead.">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h4 class="sedan-regular">Need a Hand?</h4>
            <p id="about-help">
                Our friendly staff are always on hand to assist with pitching tents and ensuring your setup is secure
                and comfortable. Just let us know, and we'll be happy to help!
            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <img class="img-fluid" src="{% static 'images/tent-help.webp' %}"
                alt="A staff member helping a camper pitch their tent.">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <hr>
        </div>
    </div>

    <!-- Amenities Section -->
    <div class="row mt-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h2 class="sedan-regular">Amenities</h2>
            <h4 class="sedan-regular">BBQ Areas</h4>
            <p id="about-bbq">
                Nothing says camping like a BBQ under the stars. Our designated BBQ areas are perfect for grilling your
                favorite meals and enjoying outdoor dining with family and friends. We provide grills, picnic tables,
                and all the essentials to make your cookout a success.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h4 class="sedan-regular">Modern Restrooms and Showers</h4>
            <p id="about-wc">
                Our clean and well-maintained restrooms and shower facilities are conveniently located throughout the
                campsite. Enjoy hot showers and all the comforts of home while staying close to nature.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3 ccol-lg-6 offset-lg-3">
            <h4 class="sedan-regular">Camp Store</h4>
            <p id="about-store">
                Forgot something? No worries! Our camp store is stocked with all the essentials, including camping gear,
                snacks, drinks, toiletries, and local souvenirs. We also have a selection of firewood and charcoal for
                your BBQ needs.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h4 class="sedan-regular">Pet-Friendly Areas</h4>
            <p id="about-pets">
                We understand that pets are part of the family. Lakeview Campsite features designated pet-friendly areas
                where your furry friends can roam and play. We also have pet waste stations for your convenience.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h4 class="sedan-regular">Laundry Facilities</h4>
            <p id="about-laundry">
                For longer stays, our on-site laundry facilities are a lifesaver. Equipped with washers and dryers, you
                can keep your clothes fresh and clean throughout your stay.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h4 class="sedan-regular">Bike Rentals <span class="badge text-bg-success">New</span></h4>
            <p id="about-bikes">
                Explore the surrounding areas on two wheels with our convenient bike rental service. We offer bikes for
                all ages and skill levels, along with helmets and maps of the best local routes.
            </p>
        </div>
    </div>

    <!-- Activities Section -->
    <div class="row mt-4">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h2 class="sedan-regular">Activities</h2>
            <p>
                There's never a dull moment at Lakeview Campsite. We offer a variety of activities to suit all
                interests:
            </p>
            <ul class="custom-mb-1">
                <li>
                    <strong>Fishing:</strong> Our serene lake is well-stocked with fish, making it a paradise for
                    anglers. Enjoy a
                    peaceful day casting your line and relishing the tranquility of nature.
                </li>
                <li>
                    <strong>Hiking:</strong> Explore our network of scenic trails, which cater to all levels of hikers.
                    From gentle walks
                    to more challenging treks, there's a path for everyone.
                </li>
                <li>
                    <strong>Water Sports:</strong> Dive into adventure with kayaking, paddleboarding, and canoeing on
                    the lake. Equipment
                    rental is available for those looking to make a splash.
                </li>
                <li>
                    <strong>Stargazing:</strong> The clear, unpolluted skies at Lakeview Campsite are perfect for
                    stargazing. Join our
                    guided astronomy nights to learn about constellations and enjoy the beauty of the night sky.
                </li>
                <li>
                    <strong>Campfire Stories:</strong> Gather around the campfire for an evening of storytelling,
                    marshmallow roasting,
                    and making new friends. Our campfire nights are a hit with guests of all ages.
                </li>
                <li>
                    <strong>Nature Workshops:</strong> Participate in our nature workshops to learn about the local
                    flora and fauna,
                    bushcraft skills, and more. These hands-on experiences are fun and educational for the whole family.
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <hr>
        </div>
    </div>

    <!-- Pricing Section -->    
     <div class="row mt-4" id="pricing-section">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
            <h2 class="sedan-regular">Pricing Guide for Lakeview Campsite</h2>
    
            <!-- Accomodation Prices -->
            <h3 class="sedan-regular">Accommodation</h3>
            <strong>Tent Sites:</strong>
            <ul>
                <li>Basic Tent Site: $25 per night</li>
                <li>Lakeside Tent Site: $35 per night</li>
                <li>Group Tent Site (up to 10 people): $60 per night</li>
            </ul>
            
            <strong>Van and Caravan Sites:</strong>
            <ul>
                <li>Standard Site: $40 per night</li>
                <li>Lakeside Site: $50 per night</li>
                <li>Full Hookup Site (water, electric, sewer): $55 per night</li>
            </ul>
            
            <strong>Yurts:</strong>          
            <ul>
                <li>Standard Yurt (sleeps 4): $70 per night</li>
                <li>Deluxe Yurt (sleeps 6, includes kitchenette): $100 per night</li>
                <li>Lakeside Yurt (sleeps 4, premium location): $90 per night</li>
            </ul>
            
            <!-- Amenities Prices -->
            <h3 class="sedan-regular">Amenities and Services</h3>
            <ul>
                <li>Tent Pitching Assistance: $15 per tent</li>
                <li>Firewood Bundle: $10 each</li>
                <li>BBQ Grill Rental: $20 per day</li>
                <li>Bike Rental: $15 per day <span class="badge text-bg-success">New</span></li>
                <li>Kayak Rental: $25 per day</li>
                <li>Canoe Rental: $30 per day</li>
                <li>Paddleboard Rental: $25 per day</li>
            </ul>
            
            <!-- Package Prices -->
            <h3 class="sedan-regular">Packages</h3>

            <strong>Weekend Getaway Package:</strong>
            <ul>
                <li>Includes: 2 nights in a Standard Yurt, BBQ Grill Rental, and a bundle of firewood.</li>
                <li>Price: $160 (saves $20)</li>
            </ul>

            <strong>Family Adventure Package:</strong>
            <ul>
                <li>Includes: 3 nights in a Lakeside Tent Site, 1 day of bike rentals for 4, and a guided nature workshop.</li>
                <li>Price: $200 (saves $30)</li>
            </ul>

            <strong>Romantic Escape Package: <span class="badge text-bg-success">New</span></strong>
            <ul>
                <li>Includes: 2 nights in a Lakeside Yurt, kayak rental for 2, and a complimentary bottle of local wine.</li>
                <li>Price: $190 (saves $25)</li>
            </ul>

            <!-- Discounts -->
            <h3 class="sedan-regular">Seasonal Discounts</h3>
            <strong>Off-Season Rates (November - March):</strong>
            <ul>
                <li>20% discount on all accommodations and rentals.</li>
            </ul>

            <strong>Long Stay Discount:</strong>
            <ul>
                <li>Stay 7 nights or more and receive a 15% discount on your total stay.</li>
            </ul>
        </div>
    </div>
    
    <!-- Book Now Button -->
    <div class="row">
        <div class="col-6 offset-3 py-3 px-2 text-center">
            <a href="{% url 'booking' %}" class="btn btn-danger btn-lg sedan-regular">Book Now!</a>
        </div>
    </div>


</div>

{% endblock content %}