{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content -->
<div class="container-fluid mb-3">

    <div class="row d-lg-none d-xl-none">
        <div class="col-12 g-0">
            <img class="img-fluid" src="{% static 'images/lake-view.webp' %}"
                alt="A view of a lake and woods in the evening.">
        </div>
    </div>

    <div class="row d-none d-lg-block d-xl-block d-xxl-block">
        <div class="col-12 g-0">
            <img class="img-fluid w-100" src="{% static 'images/wide-tent-lake.webp' %}"
                alt="A tent and chair in front of a lake.">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4p-2">
            <h1 class="sedan-regular">About</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4p-2">
            <p id='about-welcome'>
                Welcome to Lakeview Campsite, your perfect getaway nestled in the heart of nature! Whether you're a
                seasoned camper or new to the outdoor experience, we offer a diverse range of accommodations and
                activities to ensure your stay is both comfortable and memorable.
            </p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4p-2">
            <h2 class="sedan-regular">Our Accomodations</h2>
            <p id="about-accom">
                At Lakeview Campsite, we cater to all types of campers. Bring your own tent, van, or caravan and set up
                in one of our spacious, scenic plots. If you prefer a more unique experience, stay in one of our cozy
                yurts equipped with comfortable bedding and rustic charm. RV travelers are also welcome, with dedicated
                spots offering easy access and full hookups.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4">
            <img class="img-fluid" src="{% static 'images/van-campsite.webp' %}" alt="A sunny view of a campsite with camper vans.">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4p-2">    
            <h3 class="sedan-regular">Need a Hand?</h3>
            <p id="about-help">
                Our friendly staff are always on hand to assist with pitching tents and ensuring your setup is secure
                and comfortable. Just let us know, and we'll be happy to help!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4">
            <img class="img-fluid" src="{% static 'images/tent-help.webp' %}" alt="A staff member helping a camper pitch their tent.">
        </div>
    </div>


</div>

{% endblock content %}